# Data Wrangling with Spark SQL Quiz

This quiz uses the same dataset and most of the same questions from the earlier "Quiz - Data Wrangling with Data Frames Jupyter Notebook." For this quiz, however, use Spark SQL instead of Spark Data Frames.

In [6]:
from pyspark.sql import SparkSession

# TODOS: 
# 1) import any other libraries you might need
# 2) instantiate a Spark session 
spark = SparkSession \
    .builder \
    .appName("Wrangling Data") \
    .getOrCreate()

# 3) read in the data set located at the path "data/sparkify_log_small.json"
path = "data/sparkify_log_small.json"
user_log = spark.read.json(path)

# 4) create a view to use with your SQL queries
user_log.createOrReplaceTempView("user_log_table")

# 5) write code to answer the quiz questions

# Question 1

Which page did user id ""(empty string) NOT visit?

In [10]:
# Select pages visited by user "" and include count for fun
spark.sql('''
    SELECT page, count(*)
    FROM user_log_table
    WHERE userId == ""
    GROUP BY page
''').show()

+-----+--------+
| page|count(1)|
+-----+--------+
| Home|     187|
|About|      15|
|Login|     126|
| Help|       8|
+-----+--------+

# Question 2 - Reflect

Why might you prefer to use SQL over data frames? Why might you prefer data frames over SQL?

# Question 3

How many female users do we have in the data set?

In [12]:
# Select unique user IDs where gender is female
spark.sql('''
    SELECT DISTINCT userId
    FROM user_log_table
    WHERE gender == "F"
''').count()

462

# Question 4

How many songs were played from the most played artist?

In [13]:
# Aggregate songs by artist and sort in descending order to show the most popular first
spark.sql('''
    SELECT artist, count(*) as c
    FROM user_log_table
    GROUP BY artist
    ORDER BY c DESC
''').show()

+--------------------+----+
|              artist|   c|
+--------------------+----+
|                null|1653|
|            Coldplay|  83|
|       Kings Of Leon|  69|
|Florence + The Ma...|  52|
|            BjÃÂ¶rk|  46|
|       Dwight Yoakam|  45|
|       Justin Bieber|  43|
|      The Black Keys|  40|
|         OneRepublic|  37|
|                Muse|  36|
|        Jack Johnson|  36|
|           Radiohead|  31|
|        Taylor Swift|  29|
|Barry Tuckwell/Ac...|  28|
|          Lily Allen|  28|
|               Train|  28|
|           Daft Punk|  27|
|           Metallica|  27|
|          Nickelback|  27|
|          Kanye West|  26|
+--------------------+----+
only showing top 20 rows

# Question 5 (challenge)

How many songs do users listen to on average between visiting our home page? Please round your answer to the closest integer.

In [ ]:
# TODO: write your code to answer question 5